<footer>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-4">
            <div class="footer-widget">
                <div class="footer-widget-title">
                    <h5>About US</h5>
                </div>
                <div class="footer-widget-content">
                    <div class="about-us-widget">
                        <ul>
                            <li>
                                <a href="#">
                                    About Nova.com
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms and Condition
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Corporate Sales
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Careers
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
                <div class="footer-widget-title">
                    <h5>CONTACT</h5>
                </div>
                <div class="footer-widget-content">
                    <div class="contact-widget">
                        <ul>
                            <li>
                                <a href="#">
                                    <span><i class="icofont icofont-ui-call"></i></span>
                                    +88 (016) 25892353
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span><i class="icofont icofont-envelope"></i></span>
                                    youremail@gmail.com
                                </a>
                            </li>
                            <li>
                                <p>
                                    <span>
                                        <i class="icofont icofont-social-google-map"></i>
                                    </span>
                                    121 Kazi Nazrul Islam Road
                                    Dhaka 1212
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4">
            <div class="footer-widget">
                <div class="footer-widget-title">
                    <h5>MY ACCOUNT</h5>
                </div>
                <div class="footer-widget-content">
                    <div class="my-account-widget">
                        <ul>
                            <li>
                                <a href="#">
                                    My Order
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    My Card
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Wishlist
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Login
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Register
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-12">
            <div class="footer-widget">
                <div class="footer-widget-title">
                    <h5>Join Us</h5>
                </div>
                <div class="footer-widget-content">
                    <div class="footer-social-icon">
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icofont icofont-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont icofont-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont icofont-brand-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont icofont-social-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont icofont-social-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-widget-title">
                    <h5>PAYMENT METHODS PARTNER</h5>
                </div>
                <div class="footer-widget-content">
                    <div class="payment-method-icon">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-mastercard"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-visa"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-paypal"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-payoneer"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom-container">
    <div class="footer-bottom-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright">
                        <p>
Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>                       </p>
                    </div>
                    <div class="copyright-message">
                        <p>
                        </p>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</footer>
